<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include ../views/templates/head %>
    <script src="/javascript/admin-dashboard-handler.js"></script>
  <script src="/javascript/bootstrap-treeview.js"></script>
    
  </head>
  <body>
  
  <% include ../views/templates/header %>

  <div class="container">
	<div class="bs-docs-section clearfix">
          <div class="row">
         <div class="col-lg-12">
              
           </div>
         </div>


          <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <h3 class="list-group-item" Style="color:#bf5a16;"><b>Curate</b></h3>
              <a class="list-group-item" onclick="displayCategoryTree()">Edit Categories</a>
              <a class="list-group-item" onclick="displayMemberComplaints()">Member Complaints</a>
                <a class="list-group-item" onclick="displayProductComplaints()">Product Complaints</a>

              <h3 class="list-group-item" Style="color:#bf5a16;"><b>Configure</b></h3>
              <a class="list-group-item" >Voting</a>
              <a class="list-group-item" >Valuation</a>
            </div>
          </div>
          <div class="col-lg-9">
              <div class="list-group" id="dashboardData">

              </div>
          </div>
        </div>





        <!-- Div for adding results before -->
         <div class="row" id="resultDiv0">
   	     <div class="col-lg-12">
           </div>
         </div>
      </div>
</div>
  </body>
</html>
