<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include ../views/templates/head %>
    <link rel='stylesheet' href='/stylesheets/cart.css' />
    <script src="/javascript/cart-handler.js"></script>
  </head>
  <body>
  
  <% include ../views/templates/header %>
  
  <div class="container">
    <div class="well">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1" id="cartDiv">
            <table class="table table-hover" id="cart-table">
                <thead>
                    <tr>
                        <th><h4>Product</h4></th>
                        <th class="text-center"><h4>Price</h4></th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>   </td>
                        <td><h3>Total To Pay</h3></td>
                        <td class="text-left"><h3 id="totalCost"><strong >$31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>
                        <a type="button" href="/" class="btn btn-primary">Continue Shopping</a></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Pay Now <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
  </body>
</html>
