<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include ../views/templates/head %>
    
  </head>
  <body>
  
  <% include ../views/templates/header %>

  <div class="container">
	<div class="bs-docs-section clearfix">
          <div class="row">
         <div class="col-lg-12">
              <h3 id="data-test">Results</h3>
           </div>
         </div>


        <!-- Div for adding results before -->
         <div class="row" id="resultDiv0">
   	     <div class="col-lg-12">
           </div>
         </div>
      </div>
</div>
  </body>
</html>
