<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include ../views/templates/head %>
    <link rel='stylesheet' href='/stylesheets/search.css' />
  </head>
  <body>
  
  <% include ../views/templates/header %>

  </body>
</html>
