<!DOCTYPE html>
<html>
  <head>

    <title>Home</title>
    <% include ../views/templates/head %>
    <script src="javascript/index-handler.js"></script>
    
  </head>
  <body>
  
  <% include ../views/templates/header %>

  </body>
</html>
