<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
<% include ../views/templates/head %>
<link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>


  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Marketplace</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="">Home</a>
            </li>

            <li>
              <a href="">Help</a>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="" target="_blank">
              Login/Register
              <span class="glyphicon glyphicon-log-in"></span>
            </a></li>
            
          </ul>

        </div>
      </div>
    </div>

<!-- Well around the login and register form -->
<div class="container" id="login-con">
  <div class="well" id="well">
    <ul class="nav nav-tabs" >
  <li class="active"><a href="#login" data-toggle="tab" id="login-tab">Login</a></li>
  <li><a href="#register" data-toggle="tab">Register</a></li>
  <!-- <li class="disabled"><a>Disabled</a></li> -->

</ul>
<div id="myTabContent" class="tab-content">

  <!-- Login tab -->
  <div class="tab-pane fade active in" id="login">
<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/login-post">
  <fieldset>
    <legend style="text-align:center">Enter login details</legend>

    <!-- Email Input Login -->
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" id="labels">Email</label>
      <div class="col-lg-10">
        <input type="text" name="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <!-- Password Input Login-->
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label" id="labels">Password</label>
      <div class="col-lg-10">
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
  </fieldset>


<!-- Login Button -->
    <div class="form-group">
      <div class="col-lg-12 col-lg" id="button-holder">
        <button type="submit" name="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
</form>    

  </div>

  <!-- Register Tab -->
  <div class="tab-pane fade" id="register">
  	<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/register-post">
  	<legend style="text-align:center">Enter registration details</legend>

    <!-- Email Input Login -->
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" id="labels">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <!-- Password Input Register-->
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label" id="labels">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

<!-- Confirm Password Input Register-->
        <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label" id="labels">Confirm Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <!-- Register Button -->
    <div class="form-group">
      <div class="col-lg-12 col-lg" id="button-holder">
                <button type="submit" class="btn btn-primary" >Register</button>
      </div>
    </div>
</form>
</div>
</div>

  </div>
  </body>
</html>

