<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include ../views/templates/head %>
    <script src="/javascript/user-dashboard-handler.js"></script>
    
  </head>
  <body>
  
  <% include ../views/templates/header %>

  <div class="container">
	<div class="bs-docs-section clearfix">


          <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <h3 class="list-group-item" Style="color:#bf5a16;"><b>Buying</b></h3>
              <a class="list-group-item" href="#buttons">Past Orders</a>


              <h3 class="list-group-item" Style="color:#bf5a16;"><b>Selling</b></h3>
              <a class="list-group-item" href="/sell">List an Item</a>
              <a class="list-group-item" onclick="listItemsForSale()">Items I'm selling</a>
              <a class="list-group-item" href="">Sold Items</a>

                <h3 class="list-group-item" Style="color:#bf5a16;"><b>Community</b></h3>
                <a class="list-group-item btn-primary" id="generateInviteCode" onclick="generateInviteCode()">Generate Invite Code</a>
                <p class="list-group-item" id="inviteCode"></p>
            </div>
          </div>
              <div class="col-lg-9">
                  <ul class="list-group" id="dashboardData">

                  </ul>
              </div>
        </div>





        <!-- Div for adding results before -->
         <div class="row" id="resultDiv0">
   	     <div class="col-lg-12">
           </div>
         </div>
      </div>
</div>
  </body>
</html>
