  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Marketplace</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="">Home</a>
            </li>

            <li>
              <a href="">Help</a>
            </li>

          </ul>
            
          <ul class="nav navbar-nav navbar-right" id="cssmenu">
            <li id="logoutLink">
              <a class="btn btn-link" onclick="logout()">Logout</a>
            </li>
            <li class="dropdown dropdown-large" id="menuBarLogin">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login/Register <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-large row">    
			    <li class="col-md-12" id="login-col"> 
                  <form class="form-horizontal" id="login-form" method="post" enctype="multipart/form-data" action="/login-post">
                    <input name="email" id="email" type="text" placeholder="Email">
                    <input name="password" id="password" type="password" placeholder="Password"><br>
                    <button type="button" class="btn btn-primary btn-sm" onclick="login()" id="loginButton">Login</button>
                  </form>
                  <a class="btn btn-success btn-sm" id="register-but" href="/register">Register</a>
                  <a href="/reset-password">Forgot password?</a>
            </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container">

     <div class="bs-docs-section clearfix">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="navbar">Marketplace name</h1>
            </div>


            <div class="bs-component">
              <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                    	    <form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" id="search-box">
                      </div>
                      <button type="button" class="btn btn-default" onclick="search()">Submit</button>
                    </form>
                      
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="search-link"><a href="#">Cart &nbsp;<span class="glyphicon glyphicon-shopping-cart"></span>
                      </a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
</div>