#login-con {
	width: 40%;
	height: 40%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#button-holder {
	text-align: center;
}


.nav-tabs > li {
    text-align: center;
    padding-bottom: 2%;
    width: 50%;  
}

#labels {
	font-size: 120%;
}
