#labels {
	font-size: 110%;
}

#pay-con {
	margin-top: 2%;
	text-align: left;
}

#pay-col {

}

#title {
	color: #df691a;
}

#pay-button {
	width: 45%;
	margin-right: 2%;
}

#pay-numbers {
	color: white;
	font-size: 150%;
}