body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#form-labels {
	font-size: 110%;
}

#email {
    margin-bottom: 5%;
    margin-top: 5%;
}

#password {
 margin-bottom: 5%;
}

.dropdown-menu-large {
    text-align: center;
    display:none;
    position: center;
    top: 100%;
    left:50%;
    transform:translateX(+15%);
    margin: 10%;
}

#login-col {
  text-align: center;
  
}

#loginButton {
    width: 100%;   
}

#register-but {
    padding: 5%;
    margin-top: 5%;
    margin-bottom:5%;
}

#login-form {
    text-align: center;
}

.category-link {
    font-size: 150%;
}

#category-row {
    text-align: center;
    
}

.rating {
  unicode-bidi: bidi-override;
  /*direction: ltl;*/
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}