body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#form-labels {
	font-size: 110%;
}

#email {
    padding: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#password {
 padding: 3%;   
 margin-bottom: 5%;
}

.dropdown-menu-large {
    text-align: center;
    display:none;
    position: absolute;
    top: 100%; /*sets the top edge of the element above/below top edge of nearest ancestor*/
    left:50%;
    transform:translateX(+15%);
    padding: 3%;
}

#loginButton {
    width: 100%;   
}

#register-but {
    padding: 5%;
    margin-top: 5%;
    margin-bottom:5%;
}

#login-form {
    text-align: center;
}

.category-link {
    font-size: 150%;
}

#category-row {
    text-align: center;
}